* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 4.4rem;
  border-bottom: 1px solid #333;
  margin-bottom: 2rem;
  background-color: #fdfdfd;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-heading {
  margin-left: 2rem;
}

.btn {
  font-size: 1.2rem;
  padding: 0.7rem;
}

/*****************************/
/*****     FORM         *****/
/****************************/

.add-read-book--form {
  border: 2px solid #333;
  border-radius: 9px;
  width: 15rem;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  height: 15rem;
  background-color: #ccc;
}

.add-read-book--form.active {
  display: block;
}

.form-close--btn {
  margin-left: 87%;
  cursor: pointer;
  font-size: 1.4rem;
}

.add-read-book--form form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-left: 1rem;
  font-weight: 500;
}

.form-input {
  width: 12.6rem;
  height: 2.4rem;
  margin: auto;
}

.add-read-book--form--btn {
  padding: 0.7rem;
  width: 8rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 9px;
  border: 1px solid #333;
}

.overlay {
  position: fixed;
  filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.overlay.active {
  display: block;
}
